# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
vendor/
node_modules/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
.idea
.php-cs-fixer.cache
phpstan.neon

# dependency lock file
composer.lock
